{:paths ["src/clj" "src/cljs" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/data.priority-map {:mvn/version "1.1.0"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.796"}
        mysql/mysql-connector-java {:mvn/version "8.0.30"}
        com.github.seancorfield/honeysql {:mvn/version "2.3.911"}
        javax.servlet/servlet-api {:mvn/version "2.5"}
        ring/ring {:mvn/version "1.9.0"}
        compojure/compojure {:mvn/version "1.6.2"}
        metosin/reitit {:mvn/version "0.5.12"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        tick/tick {:mvn/version "0.5.0"}
        org.clojure/data.json {:mvn/version "2.4.0"}}
 :aliases
 {:cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.19.9"}
                reagent/reagent {:mvn/version "1.1.1"}
                binaryage/devtools {:mvn/version "1.0.6"}
                funcool/promesa {:mvn/version "8.0.450"}}}}}